:root {
    font-size: 30px;
}
*, *:after, *:before{
    font-family: walmart !important;
    box-sizing: border-box;
}
input {
    font-size: 1rem;
}

body {
    margin: 0;
    padding: 0;

}

.center-site {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}
@font-face {
    font-family: walmart;
    src: url("font.ttf") format('truetype');
}

.centerbox {
    width: 30rem;
}

.searchbox {
    width: 80%;

    border: none;
    border-radius: 10px;

    padding: 0.5rem;

    background-image: url("left.png"), url("right.png"), url("top.png"), url("top.png");

    background-position: 0 0, 100% 0, 0 0, 0 100%;

    background-repeat: no-repeat, no-repeat, repeat-x, repeat-x;

    background-size: auto 100%, auto 100%, 8rem, 8rem;

}

.site-top-bar {
    display: flex;
}

input[type="submit"] {
    height: 100%;
    display: block;
    float: right;
    border: none;
}

.legal {
    font-size: 0.7rem;
}

.searchbox-group:after{ 
    content: "";
    display: table;
    clear: both;
}


.main-top-bar img {
    float: left;
    margin-right: 1rem;
}

.main-top-bar .searchbox-group {
    width: 30rem;
    float: left;
}


.main-top-bar {
    width: 100%;
    background-image: url("bottom.png");
    background-position: 0% 100%;
    background-repeat: repeat-x;
    background-size: 6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.main-top-bar:after {
    content: "";
    display: table;
    clear: both;
}
/* 
.modal:before {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    content: '';
} */

.modalwrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgba(0,0,0,0.5);
}

.loading-gray {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);

    display:flex;
    align-items: center;
    justify-content: center;
}
 
.loader {
    width: 500px;
    height: 500px;

    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.modal {
    transform:rotate(0.1deg);

    padding: 1rem;

    border-radius: 1rem;

    background-color: white;

    max-width: 60%;
}