<!doctype html>

<head>
    <title>Walmart Brand Google</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <main id="app" >

        <div v-if="loading" class="loading-gray">
            <img src="../madeforhackumass7.png" alt="Loading" class="loader">
        </div>

        <form action="/search" method="GET">
            <div class="main-top-bar">
                <a href="/"><img src="../logo.png" alt="Googel" style="width:200px; height: auto;"></a>
                <div class="searchbox-group">
                    <input type="text" placeholder="Q" name="search" class="searchbox" v-bind:value="searchTerm.replace(/\+/g, ' ')">
                    <input type="submit" value="Search">
                </div>
            </div>
        </form>
        
        <div style="max-width: 60%; margin: 0 auto;">

            <div v-if="results.length===0">
                <h3>No results!</h3>
            </div>

            <div v-for="result in results" >
                <h3 v-on:click.self="modalShow(result.url, result.description)">{{result.url}}</h3>
                <p class="description">{{result.description}}</p>
            </div>

            <div class="modalwrapper" v-if="modal.show" v-on:click.self="modalClose()">
                <div class="modal">
                    <h3>{{ modal.url }}</h3>
                    <p class="legal">{{ modal.description }}</p>
                    <br>
                    <img v-if="modal.image !== null" class="autoblur" v-bind:src="'data:image/jpeg;base64,'+modal.image"  width=960 height=540 />
                    
                </div>
            </div>
        </div>


    </main>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                results: [],
                modal: {
                    show: false,
                    url: "",
                    description: "",
                    image: null
                },
                loading: false,
                searchTerm: ''
            },
            methods: {
                modalShow(url, description) {
                    app.loading = true;
                    fetch(`/getpagescreenshot?url=${url}`).then((res)=>res.text()).then(base64=>{
                        if (base64 === "error") {
                            throw "Site not available";
                        }
                        app.modal.image = base64;
                        app.modal.show = true
                        app.modal.url = url;
                        app.modal.description = description;
                    }).catch(e=>{
                        console.log(e);
                        app.modal.image = null;
                        app.modal.show = true;
                        app.modal.url = "Site not found";
                        app.modal.description = "This site appears to have been taken down from the web.";
                    }).finally(()=>{
                        app.loading = false;
                    });
                },
                modalClose() {
                    app.modal.show = false;
                }
            },
            events: {
                "escape-pressed": function () {
                    app.methods.modalclose();
                }
            },
            created: () => {
                window.addEventListener('keyup', function (event) {
                    // Add escape to close search modal.
                    if (event.keyCode == 27) {
                        app.modalclose();
                    }
                });
                window.addEventListener('load', function (event) {
                    function getUrlVars() {
                        var vars = {};
                        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
                            vars[key] = value;
                        });
                        return vars;
                    }

                    app.searchTerm = getUrlVars().search;

                    fetch("/searchapi?search=" + app.searchTerm).then((res) => res.json()).then(json => {
                        app.results = json.results;
                    });

                        
                })
            }
        });
    </script>
</body>