<!doctype html>

<head>
    <title>Walmart Brand Google</title>
    <link rel="stylesheet" href="../style.css">
    <script src="../tilt.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <main >
        <form action="/search" method="GET">
            <div class="main-top-bar">
                <a href="/"><img src="../logo.png" alt="Googel" style="width:200px; height: auto;"></a>
                <div class="searchbox-group">
                    <input type="text" placeholder="Q" name="search" class="searchbox">
                    <input type="submit" value="Search">
                </div>
            </div>
        </form>
        
        <div id="app" style="max-width: 60rem; margin: 0 auto;">
            <div v-for="result in results" >
                <h3 v-on:click.self="modal($event)" v-bind:data-url=result.url v-bind:data-description=result.description>{{result.url}}</h3>
                <p class="description">{{result.description}}</p>
            </div>
            <div v-if="loading" class="loading-gray">
                <img src="../madeforhackumass7.png" alt="Loading" class="loader">
            </div>
            <div class="modalwrapper" v-if="modalshow" v-on:click.self="modalclose">
                <div class="modal">
                    <h1>{{ selected.url }}</h1>
                    <p class="legal">{{ selected.description }}</p>
                    <img v-bind:src="'data:image/jpeg;base64,'+image" width=960 height=540 />
                </div>
            </div>
            <br>
            
            <p class="legal">Note: these sites are sourced from openphish.com's phishing feed and UBlock origin's Spam404 list. While they are likely to be scams, they may not be.</p>
            <p class="legal">Also: This site contains malicious links.</p>
        </div>


    </main>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                results: [],
                image: null,
                modalshow: false,
                selected: {
                    url: ""
                },
                loading: false,
                description: "",
                searchTerm: ''
            },
            methods: {
                modal(event) {
                    let url = event.target.dataset.url;
                    let description = event.target.dataset.description;
                    app.loading = true;
                    fetch(`/getpagescreenshot?url=${url}`).then((res)=>res.text()).then(base64=>{
                        app.image = base64;
                        app.modalshow = true
                        app.selected.url = url;
                        app.selected.description = description;
                        app.loading = false;
                    }).catch((e)=> {app.loading = false; console.log(e)});
                },
                modalclose() {
                    app.modalshow = false;
                }
            },
            events: {
                "escape-pressed": function () {
                    app.methods.modalclose();
                }
            },
            created: () => {
                window.addEventListener('keyup', function (event) {
                    // If down arrow was pressed...
                    if (event.keyCode == 27) {
                        app.modalclose();
                    }
                });
                window.addEventListener('load', function (event) {
                    function getUrlVars() {
                        var vars = {};
                        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
                            vars[key] = value;
                        });
                        return vars;
                    }

                    app.searchTerm = getUrlVars().search;

                    fetch("/searchapi?search=" + app.searchTerm).then((res) => res.json()).then(json => {
                        app.results = json.results;
                    });
                })
            }
        });

        
    </script>
</body>